/* Começa Estilo Menu */
.container1 {
    display: flex;
    justify-content: space-between;
}

.image-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    max-height: 100%;
    max-width: 100%;
    height: 150px;
    /* Altura padrão para resoluções maiores */
    margin-top: 20px;
}

/* Media query para ajustar a altura das imagens em resoluções menores ou iguais a 768px */
@media screen and (max-width: 768px) {
    .image-wrapper img {
        height: auto;
        /* Altura automática para resoluções menores ou iguais a 768px */
        margin-top: 10px;
        /* Espaçamento menor para resoluções menores ou iguais a 768px */
        margin-left: 30px;
    }
}

/* Fim Estilo Menu */


/* Estilo menu escondido */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #054f77;
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* FIM - Estilo menu escondido */

/* Estilo menu */
.container-fluid{
    background-color: #132f5f;
    height: 50px;
  }

  svg{
    width: 30px;
    height: 30px;
  }

  .bi-person-check{
    color: aliceblue;
  }

  .bi-person{
    color: aliceblue;
  }

/* Fim menu */



.index{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #132f5f;
    margin-top: 30px;
  }


/* Estilo para o vídeos Youtube */

  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* FIM - Estilo para o vídeos Youtube */

/* Estilo Acesse */
.custom-list-group .list-group-item {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: all 0.3s;
}

.custom-list-group .list-group-item:hover {
    background-color: #f5f5f5;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.custom-list-group .list-group-item a {
    color: #333;
    text-decoration: none;
}

.custom-list-group .list-group-item a:hover {
    text-decoration: underline;
}

/* Fim estilo acesse */

/* Rodapé */

.faixaazul {
    background-color: #132f5f;
    margin-top: 30px;
    padding: 2px;
}

/* Fim Rodapé */

/* Minha conta */

.profile-container {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.info-title {
  font-weight: bold;
}

/* Fim minha conta */
.noticia{
  color: #132f5f;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}
.bloco{
  background-color: #132f5f;
  margin-top: 10px;
  color: #132f5f;
  margin-bottom: -5px;
}
#acesse{
  color: #132f5f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bloco3{
    color: #132f5f;
    margin-top: 10px;
    background-color: #132f5f;
    height: 300px;
}