/* Começa Estilo Menu */
.logo1{
    margin-top: 10px;
    margin-left: 60px;
    height: 35%;
    display:flex; /* Dúvida */
 }

 .logo1 img{
   width: 50%;
   margin-right: 20px;
 }

 .logo2 img{
    width: 50%;
 }

.logo2{
    margin-top: -60px;
     margin-left: 750px;
     height: 35%;   
}
 
 /* Fim Estilo Menu */



azulmarinho{
  color: #054f77;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

input{
  width: 100%;
}
#carouselExampleSlidesOnly{
  width: 300px;
  margin-left: 600px;
  margin-bottom: 50px;
  margin-top: 50px;
  
}
.postos{
  text-align: center;
  margin-bottom: 30px;
  
}
.postos2{
  font-size: 15px;
}
nav{
  margin-top: 10px;
}







.container-fluid{
  background-color: #054f77;
  height: 50px;
}

.offcanvas-body{
  background-color: white;
  color: #054f77;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#054f77;
  margin-left: 15px;
  font-family: 'Anton', sans-serif;
}
.offcanvas-header {
  color:white;
}

#logot{
  width:250px;
}

.medi-container{
  background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 400px;
    height: 500px;
    margin-left: 750px;
    margin-top: 100px;
  
    .signup-container {
      background-color: #ffffff;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      padding: 80px;
      width: 300px;
    }

}
.medi-container input[type="text"],
  .medi-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .card h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-top: 0;
  }
  
  .medi-container input[type="submit"] {
    width: 100%;
    background-color: #054f77;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .medi-container p {
    text-align: center;
    margin-top: 10px;
  }
  .medi-container input[type="text"],
  .medi-container input[type="email"],
  .medi-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    
    
  }
  .medi-container h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
 