.azulmarinho{
    color: #054f77;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

input{
    width: 100%;
}
#carouselExampleSlidesOnly{
    width: 300px;
    margin-left: 600px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.postos{
    text-align: center;
    margin-bottom: 30px;
    
}
.postos2{
    font-size: 15px;
}
nav{
    margin-top: 10px;
}
.logo1{
   margin-top: 10px;
    margin-left: 60px;
}
.logo2{
    margin-top: -60px;
     margin-left: 750px;
     
 }
.container-fluid{
    background-color: #054f77;
    height: 50px;
}

.offcanvas-body{
    background-color: white;
    color: #054f77;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:#054f77;
    margin-left: 15px;
    font-family: 'Anton', sans-serif;
}
.offcanvas-header {
    color:white;
}

#logot{
    width:250px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 300px;
  }

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .login-container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }




  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #00704A;
    color: #FFF;
}

.card h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-top: 0;
}

.card a {
    display: inline-block;
    background-color: #FFF;
    color: #00704A;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 10px;
}

  .login-container input[type="submit"]:hover {
    background-color: #a3d8a5;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .signup-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 80px;
    width: 600px;
  }

  .signup-container h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .signup-container input[type="text"],
  .signup-container input[type="email"],
  .signup-container input[type="password"] {
    width: 100%;
    padding: 15px;
     
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .signup-container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .signup-container input[type="submit"]:hover {
    background-color: #45a049;
  }

  .signup-container p {
    text-align: center;
    margin-top: 10px;
  }