/* Começa Estilo Menu */
.container1 {
  display: flex;
  justify-content: space-between;
}

.image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  height: 150px; /* Altura padrão para resoluções maiores */
  margin-top: 20px;
}

/* Media query para ajustar a altura das imagens em resoluções menores ou iguais a 768px */
@media screen and (max-width: 768px) {
  .image-wrapper img {
    height: auto; /* Altura automática para resoluções menores ou iguais a 768px */
    margin-top: 10px; /* Espaçamento menor para resoluções menores ou iguais a 768px */
    margin-left: 30px;
  }
}


 
 /* Fim Estilo Menu */





input{
  width: 100%;
}
#carouselExampleSlidesOnly{
  width: 300px;
  margin-left: 600px;
  margin-bottom: 50px;
  margin-top: 50px;
  
}
.postos{
  text-align: center;
  margin-bottom: 30px;
  
}
.postos2{
  font-size: 15px;
}
<<<<<<< HEAD

/* Ana coloquei um espaçamento entre os meus card Ass. Luiz da Massa FM */

.card{
    margin: 20px;
}

/* Fim dos códigos Luiz FM */
=======
nav{
  margin-top: 10px;
}







.container-fluid{
  background-color: #054f77;
  height: 50px;
}

.offcanvas-body{
  background-color: white;
  color: #054f77;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#054f77;
  margin-left: 15px;
  font-family: 'Anton', sans-serif;
}
.offcanvas-header {
  color:white;
}

#logot{
  width:250px;
}
.bi-person-check{
  color: aliceblue;
}
.bi-person{
  color: aliceblue;
}
svg{
  width: 30px;
  height: 30px;
}


>>>>>>> main
